{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ToDo App</title>


	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'todolist/bs/css/flatly.min.css' %}" />
	<link rel="stylesheet" href="{% static 'todolist/styles.css' %}" />
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>

<body>

	<div class="container-fluid" id="wrapper">
		<div class="row">
			<div class="col-lg-4 col-lg-offset-4" id="content">
				<header>
					<span>Welcome, {{request.user}}</span>
					<a href="{% url 'logout' %}">Logout</a>
				</header>
				<form action="{% url 'add' %}" method="POST" role="form">
					{% csrf_token %}
					<div class="form-group">
						<div class="input-group">
							<input name="username" id="username" type="text" value="{{request.user}}" style="display: none;">
							<input name="text" id="text" type="text" class='form-control',
                                placeholder='Enter todo e.g. Delete some files',
                                aria-label='Todo', aria-describedby='add-btn'>
							<span class="input-group-btn">
								<button type="submit" class="btn btn-default button__customize"
									id="add-btn">ADD</button>
							</span>
						</div>
					</div>
				</form>

				<div class="row t10">
					<div class="col-lg-12">
						<div class="btn-toolbar">
							<div class="btn-group">
								<a href="{% url 'deleteCompleted' %}">
									<button type="button" class="btn btn-warning button__customize">
										<i class="glyphicon glyphicon-trash"></i> DELETE COMPLETED
									</button>
								</a>
							</div>
							<div class="btn-group">
								<a href="{% url 'deleteAll' %}">
									<button type="button" class="btn btn-warning button__customize">
										<i class="glyphicon glyphicon-trash"></i> DELETE ALL
									</button>
								</a>
							</div>
						</div>
					</div>
				</div>

				<ul class="list-group t20">
					{% for todo in todo_list %}
					{% if todo.username == request.user.username %}
						{% if todo.complete %}
						<li class="list-group-item todo-completed">{{todo.text}}</li>
						{% else %}
						<a href="{% url 'complete' todo.id %}">
							<li class="list-group-item list-group-item-active">
								{{todo.text}}
							</li>
						</a>
						{% endif %}
					{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>


	</div>

	<!-- jQuery -->
</body>

</html>